{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <main class="container py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">Home</h1>
            <div class="text-center">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt tempore consequatur iure voluptatem, vitae quod. Nihil consequatur optio, deserunt cumque molestiae eius nostrum molestias libero, dolorum corporis quos deleniti sed nisi voluptatem tempore assumenda provident. Qui commodi natus quibusdam, debitis eligendi officia similique nobis corporis aspernatur, hic nostrum modi ducimus, minus quos reprehenderit illum labore. Ut culpa id quos totam expedita quaerat suscipit non quod. Excepturi incidunt aspernatur est quos vero esse dolore magnam temporibus reiciendis optio, non atque tempore sunt, autem neque iusto, eius exercitationem fuga nostrum corrupti assumenda sit laudantium suscipit repudiandae. Et, animi repudiandae? Dicta, libero deleniti.</p>
                <a class="btn btn-secondary" href="accounts/login">
                    Log In
                </a>
                <a class="btn btn-dark" href="accounts/signup">
                    Sign Up
                </a>
            </div>
        </section>
    </main>

{% endblock %}