body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    text-align: center;
    background-color: #f4f4f4;
    color: rgb(26, 25, 25)
}


nav {
    background-color: #69d0ff;
    color: white;
    padding: 15px 0;
    text-align: center;
}
